<connectionStrings>
  <add name="PhatHanhSachEntities" connectionString="metadata=res://*/Models.PhatHanhSachModel.csdl|res://*/Models.PhatHanhSachModel.ssdl|res://*/Models.PhatHanhSachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JIUG6HH\SQLEXPRESS;initial catalog=PhatHanhSach;persist security info=True;user id=sa;password=Throne97310;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>