<connectionStrings>
  <add name="PhatHanhSachEntities" connectionString="metadata=res://*/PhatHanhSachModel.csdl|res://*/PhatHanhSachModel.ssdl|res://*/PhatHanhSachModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JIUG6HH\SQLEXPRESS;initial catalog=PhatHanhSachV2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>