@model IEnumerable<PhatHanhSach.Web.Models.DaiLyViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Trang chính KJ Books | Admin Dashboard </h3>
            </div>
        </div>
        <div class="clearfix"></div>        
    </div>
</div>
<!-- /page content -->