@model IEnumerable<PhatHanhSach.Web.Models.DaiLyViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@section headerStyles {
    <!-- Datatables -->
    <link href="~/Assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
}

@section footerJS {
    <!-- Datatables -->
    <script src="~/Assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/Assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/Assets/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Assets/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/Assets/vendors/pdfmake/build/vfs_fonts.js"></script>
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Danh sách nhà đại lý</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered bulk_action">
                            <thead>
                                <tr>
                                    <th>Mã đại lý </th>
                                    <th>Tên đại lý </th>
                                    <th>Số điện thoại </th>
                                    <th>Địa chỉ </th>
                                    <th>*</th>
                                    <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dl in Model)
                                {
                                    <tr>
                                        <td>@dl.MaDaiLy</td>
                                        <td>@dl.TenDaiLy</td>
                                        <td>@dl.SoDienThoai</td>
                                        <td>@dl.DiaChi</td>
                                        <td class="text-center"><a href="/DaiLy/CapNhatDaiLy/@dl.MaDaiLy" class="btn btn-xs btn-info">Chỉnh sửa</a></td>
                                        <td class="text-center"><a href="/DaiLy/XoaDaiLy/@dl.MaDaiLy" class="btn btn-xs btn-danger"><i><span class="fa fa-close"></span></i></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="pull-right">
                        <a class="btn btn-success" href="/DaiLy/ThemDaiLy">Thêm đại lý</a>
                    </div>
                    <div class="pull-left">
                        <a class="btn btn-default" href="/">Về trang chính</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->