.item .alert {
    max-width: 100%;
}

.error {
    font-weight: bolder;
    color: red;
}

.ui-autocomplete {
    max-height: 250px;
    max-width: 400px;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 200px;
}