
@{
    ViewBag.Title = "CongNoDaiLy";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Thống kê công nợ Đại lý</h3>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <h2>Thống kê công nợ của Đại lý theo thời điểm</h2>
                    </div>

                    <div class="pull-right">
                        <a class="btn btn-success" href="/ThongKe/CongNoDaiLy">Thống kê</a>
                    </div>

                    <div class="pull-left">
                        <a class="btn btn-default" href="/">Về trang chính</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

